.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;

  &-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  &-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  &-title-sub {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
}

.footer.section {
  position: relative;
  z-index: 5;
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .section {
    font-size: .8em;
    padding: 2rem 1.5rem;
  }

  .section-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
