<section id="about" class="section about-me">
  <div class="section-container" fadeInBottom>
    <div class="about-grid">
      <div class="about-text">
        <h2 class="section-title">About Me</h2>
        <p>
          I'm a challenge-driven software engineer with a strong foundation in technical knowledge and a knack for
          rapid self-learning.
          <b>My passion</b> lies in crafting robust software architectures, developing solutions, and advocating for
          readable <b>clean code</b>.
          In recent years, I've focused on <b>web development</b>, particularly on complex applications and graphing
          tools used by Blockchain investigators.
          My ideas are often inspired by a diverse background in past work and hobby projects, including developing
          testing automations, mobile (Android), game development, and embedded systems (like Arduino projects).
          More recently, I've been actively deepening my understanding of the AI revolution.

          <br><br>
          I'm a strong believer in <b>simplicity</b>. A well-planned simple solution might be slower to initially
          deliver but will catch up with reduced maintenance required pre and post production.
          It also allows for smaller, and as a result more meaningful code reviews.
          Achieving this balance designing for current needs under project schedule requirements while anticipating
          future requirements without over-complicating is a challenge I embrace and excel at.

          <br><br>
          Beyond the keyboard, I'm a dedicated father who loves hiking with the eagles, paddleboarding with orcas, and
          exploring with my family.
          I've also recently discovered the joy of woodworking, which offers a refreshing contrast to software
          development.
          The meticulous planning, precise cuts, and careful assembly required in woodworking, where mistakes are far
          less forgiving, provide a thrilling and grounding counterpart to the flexibility of code.

        </p>
      </div>
      <div class="contact-info">
        <h3 class="section-title-sub">Contact Info</h3>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> Canada, BC</li>
          <li><i class="fas fa-envelope"></i> br.natan&#64;gmail.com</li>
          <li><i class="fas fa-graduation-cap"></i> M.Eng. Software Engineer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
