<header class="section hero">
  <nav class="main-nav">
    <a href="#" class="nav-brand">N.B.</a>
    <div class="menu-toggle">
      <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <div class="hero-content">
    <img src="profile_img.png" alt="profile picture" class="profile-pic">
    <h1>Braslavski Nathan</h1>
    <h2>Senior Software Engineer & FE team lead</h2>
    <div class="social-links">
      <a href="https://www.linkedin.com/in/natan-braslavski/" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://github.com/NathanBraslavski" aria-label="GitHub"><i class="fab fa-github"></i></a>
      <a href="https://github.com/natanbr" aria-label="GitHub"><i class="fab fa-github"></i></a>
      <a href="mailto:br.natan&#64;gmail.com" aria-label="Email"><i class="fas fa-envelope"></i></a>
    </div>
    <div class="scroll-down" (click)="scrollToAbout()">
      <i class="fas fa-chevron-down"></i>
    </div>
  </div>
</header>
