:root {
  --primary-color: #6A34FF;
  --secondary-color: #3bedcd;
  --bg-black: #000000;
  --bg-light-gray: #0a0a0f;
  --surface-color: #11151f;
  --text-dark: #ebd2f1;
  --text-light: #f4f4f4;
  --text-muted: #aab1c5;
  --border-color: #1e2230;
}
