<link rel="stylesheet" href="experience.component.scss">
<section id="experience" class="section experience">
  <div class="section-container">
    <h2 class="section-title">Experience</h2>
    <div class="experience-list" staggerChildren>

      <div class="experience-card">
        <div class="experience-icon" style="background-color: #f6f6f6;">
          <img ngSrc="big_logo.svg" alt="Intel logo" class="icon" fill style="position: relative">
        </div>
        <div class="experience-details">
          <h3 class="title-with-button">
            <span>FE Team lead, Project lead <span class="experience-company">&#64; Blockchain Intelligence Group. (2018 - Present)</span></span>
            <button mat-raised-button color="primary" class="view-work-button" (click)="openWorkCarousel('blockchain', 'Blockchain Intelligence Group')">
              <mat-icon>photo_library</mat-icon>
              <span>See My Work</span>
            </button>
          </h3>
          <h4 class="mt-2">Front-end Team Lead & Project Lead</h4>
          <p>
            I joined as a senior frontend developer and quickly recognized untapped potential in our graphing tool.
            The legacy system was limiting both customer engagement and scalability, so I initiated a complete reimagining of the investigation graph.
            <br><br>
            In the early stages, I built the proof of concept independently handling everything from architecture to UI.
            As the product gained traction, I was given the opportunity to lead a team that fluctuated between 2 to 5 developers.
            This transition enabled deeper collaboration with other teams and end users, and allowed me to focus on roadmap planning, feedback loops, and product vision, while still staying hands-on with architecture and complex coding challenges.
            The result was a modern, intuitive tool that quickly became our customers’ favorite interface replacing the old system and significantly improving adoption.
            <br><br>
            The frontend stack was primarily built with <b>Angular (versions 4 through 18)</b>, and the graphing tool leveraged <b>KeyLines</b> for data visualization. As the project matured, we adopted a <b>monorepo architecture using Nx (Narwhal)</b> to establish clearer boundaries and better manage dependencies across frontend projects.

            <br><br>
            More recently, I’ve been exploring the intersection of <b>LLMs and developer productivity</b>.
            We launched beta-stage, user-facing features for Ethereum contract analysis and graph-to-report generation.
            Internally, we’ve been integrating AI tools to reduce repetitive tasks and accelerate development bringing in solutions like <b>UXPilot</b>, <b>GitHub Copilot for code reviews</b>, <b>Cursor</b>, and <b>WebStorm Junie</b>, which has proven to be a powerful addition to our workflow.
            <br><br>
            The investigation graphing suite is named <a href="https://blockchaingroup.io/qlue/" target="_blank">“QLUE” (official website)</a>.
          </p>

          <div class="tags">
            <span class="tag">Angular</span>
            <span class="tag">NX & Monorepos</span>
            <span class="tag">RxJS</span>
            <span class="tag">TS</span>
            <span class="tag">Node.js</span>
            <span class="tag">Blockchain</span>
            <span class="tag">KeyLines - Data Visualization</span>
            <span class="tag">LLM/AI</span>
          </div>
        </div>

        <!--        <div class="experience-details">-->
<!--          <h3 class="title-with-button">-->
<!--            <span>FE Team lead, Project lead <span class="experience-company">&#64; Blockchain inelegance group. (2018 - Present)</span></span>-->
<!--            <button mat-raised-button color="primary" class="view-work-button" (click)="openWorkCarousel('blockchain', 'Blockchain Intelligence Group')">-->
<!--              <mat-icon>photo_library</mat-icon>-->
<!--              <span>See My Work</span>-->
<!--            </button>-->
<!--          </h3>-->
<!--          <h4 class="mt-2">Front-end Team Lead & Project lead</h4>-->
<!--          <p>-->
<!--            I started as a senior frontend developer and quickly saw untapped potential in our graphing tool.-->
<!--            The legacy system was limiting both customer engagement and scalability, so I proposed a complete reimagining of the investigation graph.-->
<!--            <br><br>-->
<!--            In the early stages, I built the proof of concept solo handling everything from architecture to UI. As the product gained traction,-->
<!--            I was entrusted with leading a team that grew and fluctuated between 2 to 5 developers. That shift allowed me to collaborate more closely with other teams and end users,-->
<!--            focus on roadmap planning, gather feedback, and help shape the product vision. I continued to oversee architectural decisions and occasionally dove into complex coding challenges when needed.-->
<!--            The result was a modern, intuitive tool that quickly became our customers’ favorite interface replacing the old system and significantly improving adoption.-->
<!--            <br><br>-->
<!--            The frontend was primarily built with Angular (versions 4 through 18) and the graphing tool used keylines underline.-->
<!--            As the project matured, we transitioned to a monorepo architecture using Nx (Narwhal) to help us draw clear bounderies and better control the dependencies.-->
<!--            <br><br>-->
<!--            More recently, I’ve been exploring the intersection of LLM user facing features and empowering developers.-->
<!--            We’ve recently launched (in beta) user-facing LLM features for Ethereum contract analysis and graph-to-report generation.-->
<!--            Internally, We’ve been experimenting with AI tools to streamline workflows and reduce repetitive tasks integrating solutions like UXPilot, GitHub Copilot for code reviews, Courser, and WebStorm Junie, which has proven to be a powerful addition to our toolkit.-->
<!--            <br><br>-->
<!--            The investigation graphing suite named <a href="https://blockchaingroup.io/qlue/" target="_blank">“QLUE” (official website)</a>-->
<!--          </p>-->

<!--          <div class="tags">-->
<!--            <span class="tag">Angular</span>-->
<!--            <span class="tag">NX & Monorepos</span>-->
<!--            <span class="tag">RxJS</span>-->
<!--            <span class="tag">TS</span>-->
<!--            <span class="tag">Node.js</span>-->
<!--            <span class="tag">Blockchain</span>-->
<!--            <span class="tag">Keylines- Data visualization</span>-->
<!--            <span class="tag">LLM/AI</span>-->
<!--          </div>-->
<!--        </div>-->
      </div>

      <div class="experience-card">
        <div class="experience-icon" style="background-color: #6c5ce7;">
          <i class="fas fa-code"></i>
        </div>
        <div class="experience-details">
          <h3>BE Developer (Contract) <span class="experience-company">&#64; Purpose Five (2018)</span>
          </h3>
          <p>
            Backend Developer. Working on a project for PurposeFive (as contractor)
          </p>
          <div class="tags">
            <span class="tag">Node.js</span>
            <span class="tag">OATH</span>
          </div>
        </div>
      </div>

      <div class="experience-card">
        <div class="experience-icon" style="background-color: #e5e6eb;">
          <img src="intel_icon.svg" alt="Intel logo" class="icon" style="width: 40px; height: 40px">
        </div>
        <div class="experience-details">
          <h3>Software Developer <span class="experience-company">&#64; Intel (2012 - 2017)</span></h3>
          <p><b>Flex Services:</b> It was an honor to be part of the most interesting and challenging teams
            responsible for providing software solutions to various Intel product groups. Working on the following
            projects:
          <ul>
            <li>Development of an Eclipse plugin for modeling Network Communication hardware chips.</li>
            <div class="tags">
              <span class="tag">Java</span>
              <span class="tag">Eclipse</span>
            </div>
            <li>Full-stack development of a web activity Dashboard (React).</li>
          </ul>
          <div class="tags">
            <span class="tag">React</span>
            <span class="tag">Node.js</span>
          </div>
          <br>
          <b>Technical Lead, Validation Department:</b>
          I served as a Technical Lead for software development, automating manual processes within the validation
          department. This role involved developing a product to automate the Frontend build system.
          <div class="tags">
            <span class="tag">C#</span>
            <span class="tag">.NET</span>
          </div>
          <br>

          <b>SW/FW Test Engineer:</b>
          Intel Israel Software Design Center: Joining as a student, I developed testing tools and validation
          infrastructure for software and firmware validation, including:
          <ul>
            <li>NFC Software and firmware validation.</li>
            <li>Cross-platform infrastructure for testing "Multi-Factor Authentication" drivers.
            </li>
            <li>Windows mobile devices testing automation.</li>
          </ul>

          <div class="tags">
            <span class="tag">C#</span>
            <span class="tag">.NET</span>
            <span class="tag">Android</span>
            <span class="tag">Java</span>
            <span class="tag">Testing methodologies</span>
          </div>
        </div>
      </div>

      <div class="experience-card">
        <div class="experience-icon" style="background-color: #00cec9;">
          <i class="fa-solid fa-graduation-cap"></i>
        </div>
        <div class="experience-details">
          <h3>Teaching assistant in "Distributed system" <span class="experience-company">&#64; ACE (2014 - 2015)</span>
          </h3>
          <div class="tags">
            <span class="tag">Distributed system</span>
            <span class="tag">Casandra & No SQL</span>
            <span class="tag">RPC</span>
            <span class="tag">And more...</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
