<section id="blog" class="section publications">
  <div class="section-container">
    <h2 class="section-title">Blog Posts</h2>
    <div class="publication-list"
         staggerChildren childSelector=".publication-item">
      <div class="publication-item">
        <h3><a href="https://medium.com/better-programming/from-micro-to-macro-git-branching-model-and-workflow-8dc1b230a28e">
          A Custom GIT Branching Model and Workflow</a></h3>
        <p class="publication-meta">Medium - Better Programming, 2019</p>
        <p class="publication-desc">
          This post details a custom Git workflow I developed for our team. While the most recent iteration has been simplified, the core concepts and principles remain foundational to our current development practices.
        </p>
        <div class="publication-links">
          <a href="#" class="publication-link">Git workflow</a>
        </div>
      </div>
      <div class="publication-item">
        <h3><a href="https://dev.to/natanbr/view-pattern-angular-design-pattern-implementation-1pek">
          Angular View Patter</a></h3>
        <p class="publication-meta">
          <a href="https://dev.to/natanbr/view-pattern-angular-design-pattern-implementation-1pek">DEV Community   <br></a>
        <a href="https://angular.love/view-state-selector-angular-design-pattern">Angular Love, 2021.</a></p>
        <p class="publication-desc">
          In this post, I introduce the "View Pattern," a simple and elegant frontend design pattern designed to effectively manage component state.
          A key benefit of this pattern is its emphasis on ensuring developers robustly handle various component states, including loading and error scenarios.
        </p>
        <div class="publication-links">
          <a href="#" class="publication-link">Angular</a>
          <a href="#" class="publication-link">Typescript</a>
          <a href="#" class="publication-link">Design Patterns</a>
        </div>
      </div>
    </div>
  </div>
</section>
